.page-messages{
    margin-bottom: $indent-base;
}
.messages{}

.message{
    padding: 1rem;
    margin-bottom: $indent-small;
    border: 1px solid transparent;
    border-radius: 2px;
}
.message-info,
.message-notice,
.message.notice,
.message.info{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.message-warning{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.message-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.message-success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}