
//
//  List
//  ---------------------------------------------

.products-list{
    .product-item-info{
        margin-bottom: $indent-large;
        @include make-flex();
        @include make-row();
        @include flex-wrap(wrap);
    }
    .product-item{}

    //Image
    .product-item-photo{}
    .product-image-container{}
    .product-image-photo{
        @include make-col();
        @include flex-basis(100%);
        text-align: center;
        margin-bottom: $indent-small;
    }

    //Details
    .product-item-details{
        @include make-col();
        @include flex-basis(100%);
    }
    .product-item-name{}
    .product-item-link{}

    //Reviews
    .product-reviews-summary{}
    .rating-summary{}
    .reviews-actions{}

    //Price
    .price-box{}
    .price-final_price{}
    .old-price{}

    .price-from{}
    .price-label{}
    .price-wrapper{}
    .price{}

    .price-to{}
    .price-label{}
    .price-wrapper{}
    .price{}

    //Actions
    .product-item-actions{}
    .actions-primary{}
    .actions-secondary{}
    .tocart{}
    .towishlist{}
    .tocompare{}
}

@media (min-width: $screen-xs-min){
    .products-list{
        .product-item-info{
            @include flex-wrap(nowrap);
        }
        .product-item-photo{
            @include flex-basis(42%);
            margin-bottom: 0;
        }
        .product-item-details{
            @include flex-basis(100%);
        }
    }
}

