//
//  Search mini form
//  ---------------------------------------------

.block-search{
    .block-title{
        display: none;
    }
    .block-content{}
}
#search_mini_form{
    background: none;
    .label{
    	display: none;
    }
    .nested{
    	display: none;
    }
}
