
//
//  Fotorama
//  ---------------------------------------------

.gallery-placeholder{
    .loading-mask{
        padding: 0 0 50%;
        position: absolute;
        display: none;
    }
    
    .fotorama-hidden, 
    .fotorama--hidden, 
    .fotorama__load {
        left: -99999px;
        position: absolute;
        top: -99999px;
        z-index: -1000;
        display: none;
    }
}

.fotorama-item{
    .fotorama__wrap{}
    .fotorama__stage{
        margin-bottom: $indent-small;
    }

    //Fotorama Nav
    .fotorama__nav-wrap{}
    .fotorama__nav{}

    .fotorama__thumb__arr--left{}
    .fotorama__thumb__arr--right{}

    .fotorama__nav__shaft{}
    .fotorama__nav__frame{}
    .fotorama__thumb{}
    .fotorama__img{}

    //Magnifier
    .magnifier-preview{}
}
