@import "../../../../../../web/css/source/components/_modals.scss";

//
//  Local Variables
//  _____________________________________________

//
//  Common
//  _____________________________________________

.checkout-container{
    position: relative;
    .authentication-wrapper{
        position: absolute;
        right: 0;
        top: -40px;
    }
}

//
//  Desktop
//  _____________________________________________

@media (min-width: $screen-sm-min + 1) {
    .checkout-container{
        .authentication-wrapper{
            .modal-custom-overlay{
                background: none;
            }
        }
        .authentication-dropdown {
            @include abs-modal();
            @include abs-modal-popup();
            width: 270px;
            right: 0;
            top: 50px;
            left: auto;
            position: absolute;
            overflow: visible;

            .modal-inner-wrap{
                margin: 0;
                width: 100%;
            }
        }
    }
}

