<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <preference for="Ewave\ServiceContract\Api\DataInterface\ServiceContractInterface" type="Ewave\ServiceContract\Model\ServiceContract" />
  <preference for="Ewave_ServiceContract\Api\ServiceInterface\ServiceContractRepositoryInterface" type="Ewave\ServiceContract\Model\ServiceContractRepository" />
</config>
