body{
    background-image: url("../../assets/images/src/bck.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.malle-logo{
   height: 70px;
   width: 180px;
   padding-right: 30px;
    border-right: 2px solid black;
}

.malle-logo-text{
  font-size: 25px;
  font-weight: 500;
}

.inquiry-form{
  background-color: rgba(255,255,255,0.6);
  padding-top: 30px;
  padding-left: 50px;
  border-radius: 5px;
  padding-bottom: 15px;
  padding-right: 20px;
}

.form-control:focus{
  outline: none;
  box-shadow: none !important;
  border:1px solid blue !important;
}

.mt-m{
  margin-top: -5px;
}

.foot{
  font-size: 14px;
  font-weight: bold;
  margin-left: 20px;
  clear: both;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}