//
//  Rating summary
//  ---------------------------------------------------

.rating-summary{
    @include make-flex();
    .label{
        margin-right: $indent-small;
    }
    .rating-result{}
    .rating-result__stars{
        .fa{
            font-size: 1.2rem;
            padding: 0 2px;
        }
    }
    .rating-result__text{
        display: none;
    }
}

//
//  Review List
//  ---------------------------------------------------

.review-list{
    .review-items{
        margin-top: $indent-base;
    }
    .review-item{
        margin-bottom: $indent-base;
    }
    .review-title{
        @extend .heading-4;
        margin-bottom: $indent-small;
    }

    //Rating
    .review-ratings{}

    .rating-summary{
        @include make-flex();
    }
    .rating-label{
        @include flex-basis(30%);
        padding: $input-padding-vert 0;
    }
    .rating-result{
        display: inline-block;
    }


    //Details
    .review-details{
        @include make-flex();
        p{
            width: 50%;
            margin: 0;
        }
    }
    .review-author{
        text-align: left;
    }
    .review-date{
        text-align: right;
    }
    .review-details-label{}
    .review-details-value{
        display: inline-block;
    }
}

@media (min-width: $screen-sm-min){
    .review-list{
        .rating-label{
            @include flex-basis(10%);
        }
    }
}

//
//  Review Form
//  ---------------------------------------------------

.review-add{
    .review-legend{
        @extend .heading-4;
        span{
            display: inline-block;
            margin-right: $indent-small;
        }
    }
}

.review-fieldset{
    .row{
        margin-top: $indent-base;
    }
}

.review-field-ratings{}
.review-field-rating{
    margin-bottom: 0;
    >.label{
        min-width: 100px;
    }
    >.control{}
}
.control.review-control-vote{
    display: inline-block;
    label[class^='rating-']{
        display: inline-block;
        cursor: pointer;
        margin-right: 0;
        //Star rating
        .rating-star {
            margin: $input-padding-vert 0;
            padding: 0 4px;
            font-size: 1.2rem;
            display: inline-block;
            @include font-icon("\f006");
        }

        &.fill{
            .rating-star {
                @include font-icon("\f005");
            }
        }
    }

    .radio{
        display: none;
    }
}

//
//  Review Toolbar
//  ---------------------------------------------------

.review-toolbar{
    .pager{}
    .limiter{}
    .limiter-label{}
    .limiter-options{}
}